.dragicon {
	-fx-background-radius: 10; 
}

.cubic-icon {
	-fx-fill:
	rgba(80.0, 80.0, 80.0, 0.0);
	
	-fx-stroke: black;
}

.node-overlay {
	-fx-background-radius: 10 10 0 0;
}

.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.icon-battery {
	-fx-background-image: url('../../sweek3/images/battery.gif');
	-fx-background-size: 100% 80%
}

.icon-button {
	-fx-background-image: url('../../sweek3/images/button.gif');
	-fx-background-size: 100% 100%
}

.icon-buttonon {
	-fx-background-image: url('../../sweek3/images/buttonon.gif');
	-fx-background-size: 100% 100%
}

.icon-relay {
	-fx-background-image: url('../../sweek3/images/relay.gif');
	-fx-background-size: 100% 100%
}

.icon-black {
	-fx-background-color: black;
}

.icon-resistor {
	-fx-background-image: url('../../sweek3/images/resistor.gif');
	-fx-background-size: 100% 100%
}

.icon-led {
	-fx-background-image: url('../../sweek3/images/led.jpg');
	-fx-background-size: 110% 100%
}

.icon-switchon {
	-fx-background-image: url('../../sweek3/images/switchon.gif');
	-fx-background-size: 100% 100%
}

.icon-switch {
	-fx-background-image: url('../../sweek3/images/switch.gif');
	-fx-background-size: 100% 100% 
}